

body {
	background-color: #8ec13d;
}

h1 {
	color: white;
	font-family: Varela Round, serif;
	font-weight: bold;
	text-align: center;
	font-size: 300%;
	
	margin-top: .01%;
	margin-bottom: .01%;


}

div {
	color: white;
	font-family: Varela Round, serif;
	text-align: center;
	font-size: 98%;

	
}

#words {
	margin-top: .1%;
	margin-bottom: .5%;
	
	font-size: 88%;

	overflow: hidden;
}