

body {
	background-color: #8ec13d;
}

h1 {
	color: white;
	font-family: Varela Round, serif;
	font-weight: bold;
	text-align: center;
	font-size: 400%;
	
	margin-top: .5%;
	margin-bottom: .5%;

}

div {
	color: white;
	font-family: Varela Round, serif;
	text-align: center;
	font-size: 100%;
}