.accountBalance {

	color: #8ec13d;

	display: inline-block;
	border-style: solid;
	border-color: #ffdf4d;
	background-color: #fff1b2;

	padding-left: 1%;
	padding-right: 1%;
	padding-top: .5%;
	padding-bottom: .2%;
	margin-top: .2%;
	margin-bottom: 1%;
	margin-right: 5%;

}