.endBar {

	color: #8ec13d;

	display: inline-block;
	position: relative;
	overflow: hidden;

	border-style: solid;
	border-color: #7b004e;
	background-color: #7b004e;

	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	
	margin-left: 2%;
	margin-top: 2.5%;

}