.endBar {

	color: #8ec13d;

	display: inline-block;

	border-style: solid;
	border-color: #7b004e;
	background-color: #7b004e;

	padding-left: 5%;
	padding-right: 1%;
	padding-top: 5%;
	padding-bottom: .5%;
	margin-top: .5%;
	margin-left: 1%;

}