.grid{

	display: flex;
	position: relative;
	justify-content: center;
	align-content: center;

	margin-right: 50%;
	margin-left: 50%;

	height: 525px;
	width: 525px;

	border-style: inset;
	border-color: #613615;


}
