.inventory {

	display: flex;
	position: relative;

	background-color: #24A4BC; 

	
	width: 425px;
	height: 90px;

	
	margin-right: 40%;
	margin-left: 40%;

	border-style: ridge;
	border-color: #24A4BC;

}