.inventory {

	display: inline-block;
	position: relative;

	background-color: #24A4BC; 

	
	width: 598px;
	height: 80px;
	padding-top: .5%;
	padding-bottom: .5%;

	border-style: ridge;
	border-color: #24A4BC;

}