.inventory {

	display: flex;
	position: relative;

	background-color: #24A4BC; 

	
	width: 525px;
	height: 110px;

	
	margin-right: 32.5%;
	margin-left: 32.5%;

	border-style: ridge;
	border-color: #24A4BC;

}