.sun {

	position: absolute;
	top: 0;
	right: 0;

	margin-top: 2%;
	margin-right: 2%;

	border-style: solid;
	border-color: #ffdf4d;
	background-color: #bfd8f9;

	overflow: hidden;
	display: inline-block;

}